<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ispotyfest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEF75A971BB6BBB3008A8DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF75AAE1BB6BBB4008A8DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF75AB91BB6BBB4008A8DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
